autom4te.cache
configure.scan
autoscan.log
patches/
*.patch
*.diff
todo/
tmp/
*.swp
usr/
*~
Makefile.in
aclocal.m4
config.aux/config.guess
config.aux/config.sub
config.aux/depcomp
config.aux/install-sh
config.aux/ltmain.sh
config.aux/missing
config.aux/compile
config.aux/ar-lib
config.h.in
configure
doc/Makefile.in
doc/man3/Makefile.in
doc/man3/libquvi.3
doc/dox/Makefile.in
examples/Makefile.in
examples/lib/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/Makefile.in
src/net/Makefile.in
src/lua/Makefile.in
src/curl/Makefile.in
src/api/Makefile.in
src/misc/Makefile.in
src/quvi-0.9/quvi/Makefile.in
src/quvi-0.9/Makefile.in
tests/Makefile.in
tests/lib/Makefile.in
ChangeLog
VERSION
INSTALL
